.label_italic{
    -fx-font-size: 17px;
    -fx-font: Arial ;
    -fx-font-weight: Bold;
    -fx-font-style: italic;
}

.vnd_red{
    -fx-font-weight: Bold;
    -fx-text-fill: red;
}
.payment{
    -fx-font-weight: Bold;
    -fx-text-fill: rgb(7, 241, 7);
    -fx-font-size: 60px;
    -fx-font: Arial ;
    
}